* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.generator {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    background: #38bdf8;
    border-radius: 5px;
    cursor: pointer;
}